*.ctm
*.asm
wierd_file_parse_error.txt
shaders/zz_*
logs/
profiling/
*.meshes
meshes/
*.textures
textures/
textures_lowres/
textures_fullsize/
env_maps/
BACKUP/
.vs/
msvc/
*.sln
*.obj
*.psess
*.vsp
*.pdb/
